name: Test and Build

on:
    push:
        branches:
            # Only run on branch push, not tag push
            - '**'
    pull_request:

jobs:
    lint:
        # Run for external PRs, but not on our own internal PRs as they'll be run by the push to the branch.
        if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != 'DoctorMcKay/node-steam-session'

        uses: DoctorMcKay/github-workflows/.github/workflows/eslint.yml@master
        with:
            node-version: 12.x

    test:
        # Run for external PRs, but not on our own internal PRs as they'll be run by the push to the branch.
        if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != 'DoctorMcKay/node-steam-session'

        strategy:
            matrix:
                node-version: [ 12.x, 14.x, 16.x, 18.x, 20.x ]

        uses: DoctorMcKay/github-workflows/.github/workflows/npm-test.yml@master
        with:
            node-version: ${{ matrix.node-version }}

    integration-test:
        # Run only for internal pushes
        if: github.event_name == 'push'
        runs-on: ubuntu-latest
        needs: [test]

        steps:
            -   uses: actions/checkout@v3
                with:
                    fetch-depth: 1

            -   name: Use Node.js 12.x
                uses: actions/setup-node@v3
                with:
                    node-version: 12.x

            -   name: Cache dependencies
                uses: actions/cache@v3
                with:
                    path: node_modules
                    key: ${{ runner.os }}-node_modules

            -   name: npm install
                run: npm install --ignore-scripts

            -   name: Run integration test
                env:
                    LOGIN_SESSION_LIVE_TEST_DATA: {{ secrets.LOGIN_SESSION_LIVE_TEST_DATA }}
                run: jest LoginSession_live.test.ts

    build:
        # Run for external PRs, but not on our own internal PRs as they'll be run by the push to the branch.
        if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != 'DoctorMcKay/node-steam-session'

        uses: DoctorMcKay/github-workflows/.github/workflows/npm-pack.yml@master
        with:
            node-version: 12.x
            package-name: steam-session

    publish:
        needs: [ lint, integration-test, build ]
        if: success() && github.event.ref == 'refs/heads/master' && contains(github.event.head_commit.message, '#npm-publish')
        uses: DoctorMcKay/github-workflows/.github/workflows/npm-publish.yml@master
        secrets:
            npm-access-token: ${{ secrets.NPM_ACCESS_TOKEN }}
